@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

// Colors
// Primary
$veryDarkMagenta: hsl(300, 43%, 22%);
$softPink: hsl(333, 80%, 67%);

// Neutral
$darkGrayishMagenta: hsl(303, 10%, 53%);
$lightGrayishMagenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'League Spartan';
}